* {
  margin: 0px;
  text-align: center;
  font-family: 'britannic';
}

body {
  height: auto;
  width: auto;
  background-color: rgb(27, 117, 201);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 50px;
  font-size: 5rem;
  color: rgb(243, 187, 4);
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .input {
    transform: scale(0.75);
  }

  .title {
    transform: scale(0.75);
    margin: 10px;
  }
}

.counter {
  display: flex;
  justify-content: start;
  align-items: center;
}

.count {
  margin: 15px;
  background-color: rgb(243, 187, 4);
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

#total {
  height: 2.9rem;
  width: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#done {
  background-color: rgb(98, 219, 68);
  margin-left: 35px;
  height: 2.9rem;
  width: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  height: 500px;
  width: 500px;
  background-color: aqua;
  border-radius: 50%;
  opacity: 0.1;
  position: fixed;
  z-index: -5;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2)
  }
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50px);
  }
}

.one {
  top: -10%;
  left: 50%;
  animation-name: scale;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
}



.two {
  top: 20%;
  right: 70%;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
  animation-delay: 2s;
}

.three {
  top: 50%;
  left: 40%;
  animation-name: scale;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
  animation-delay: 2s;
}

.task-text {
  font-size: 1.2rem;
  height: 4rem;
  width: 25rem;
  border-radius: 10px;
  outline: hidden;
}

.btn-add {
  border-radius: 10px;
  font-size: 1.2rem;
  height: 4.3rem;
  width: 5rem;
  outline: hidden;
  background-color: rgb(243, 187, 4);
  color: rgb(27, 117, 201);
  margin: 20px;
}

.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }
}

.card {
  height: auto;
  width: 20vh;
  background-color: rgb(243, 187, 4);
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  word-break: break-all;
  color: rgb(27, 117, 201);
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 2px 2px 2px black;
  animation-name: up;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}



.card:hover {
  background-color: rgb(214, 165, 5);
}

.remove {
  background-color: aliceblue;
  position: fixed;
  width: 100%;
  bottom: 0;
}